@{ ViewData["Title"] = "Home Page"; }

<div class="card-columns">
  <div class="card text-center" style="display: inline-block;width: 18rem;">
    <img class="card-img-top img-thumbnail" src="~/images/sspagination.png" alt="pagination">
    <div class="card-body">
      <p class="card-text">Learn how to implement ServerSide pagination using Jquery datatables, VueJS and C#, </p>
      <a asp-controller="Pagination" asp-action="Index" class="btn btn-primary">Learn More</a>
      <p class="card-text">
        <small class="text-muted"> Feb 11, 2018 </small>
      </p>
    </div>
  </div>
  <div class="card text-center" style="display: inline-block;width: 18rem;">
    <img class="card-img-top img-thumbnail" src="~/images/jstree.png" alt="jstree">
    <div class="card-body">
      <p class="card-text">Learn how to implement trees using jsTree with VueJs + C# </p>
      <a asp-controller="Tree" asp-action="Index" class="btn btn-primary">Learn More</a>
      <p class="card-text">
        <small class="text-muted"> March 31, 2018 </small>
      </p>
    </div>
  </div>
</div>