html {
    box-sizing: border-box
}

*, :after, :before {
    box-sizing: inherit
}

[layout] {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex
}

[layout*=column], [layout*=row] {
    width: 100%;
    max-width: 100%
}

[layout^=row] {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row
}

[layout^=column] {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

[layout*=row][layout*=reverse] {
    -ms-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse
}

[layout*=column][layout*=reverse] {
    -ms-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse
}

[layout*=columns], [layout*=rows] {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

[layout=none] {
    -ms-flex: none;
    -webkit-box-flex: 0;
    flex: none
}

[layout*=column][layout*=top-], [layout*=row][layout*=-left] {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start
}

[layout*=column][layout*=center-], [layout*=row][layout*=-center], [layout~=centered] {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center
}

[layout*=column][layout*=bottom-], [layout*=row][layout*=-right] {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end
}

[layout*=column][layout*=spread-], [layout*=row][layout*=-spread] {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

[layout*=column][layout*=justify-], [layout*=row][layout*=-justify] {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between
}

[layout*=column][layout*=-left], [layout*=row][layout*=top-] {
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    -webkit-box-align: start;
    align-items: flex-start
}

[layout*=column][layout*=-center], [layout*=row][layout*=center-], [layout~=centered] {
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    -webkit-box-align: center;
    align-items: center
}

[layout*=column][layout*=-right], [layout*=row][layout*=bottom-] {
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    -webkit-box-align: end;
    align-items: flex-end
}

[layout*=column][layout*=-stretch], [layout*=row][layout*=stretch-] {
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    -webkit-box-align: stretch;
    align-items: stretch
}

[layout*=columns][layout*=-left], [layout*=rows][layout*=top-] {
    -ms-flex-line-pack: start;
    align-content: flex-start
}

[layout*=columns][layout*=-right], [layout*=rows][layout*=bottom-] {
    -ms-flex-line-pack: end;
    align-content: flex-end
}

[layout*=columns][layout*=-center], [layout*=rows][layout*=center-] {
    -ms-flex-line-pack: center;
    align-content: center
}

[layout*=columns][layout*=-justify], [layout*=rows][layout*=justify-] {
    -ms-flex-line-pack: justify;
    align-content: space-between
}

[layout*=columns][layout*=-spread], [layout*=rows][layout*=spread-] {
    -ms-flex-line-pack: distribute;
    align-content: space-around
}

[layout*=columns][layout*=-stretch], [layout*=rows][layout*=stretch-] {
    -ms-flex-line-pack: stretch;
    align-content: stretch
}

@media (-ms-high-contrast:none),screen and (-ms-high-contrast:active) {
    [layout*=column]:not([layout*=row]) > * {
        max-width: auto
    }

    [layout*=column][self*=top] {
        height: auto !important
    }

    [self~=size-] > * {
        height: auto
    }
}

[layout*=column]:not([layout*=row]) [self*=left], [layout*=row]:not([layout*=column]) [self*=top] {
    -ms-flex-item-align: start;
    align-self: flex-start
}

[self~=center] {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

[layout*=column]:not([layout*=row]) [self*=right], [layout*=row]:not([layout*=column]) [self*=bottom] {
    -ms-flex-item-align: end;
    align-self: flex-end
}

[self*=stretch] {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch
}

[layout][self*=center] {
    margin-left: auto;
    margin-right: auto
}

[layout][self*=right] {
    margin-right: 0
}

[layout][self*=left] {
    margin-left: 0
}

[layout*=column] [self*=bottom] {
    margin-top: auto
}

[layout*=column] [self*=top] {
    margin-bottom: auto
}

[layout*=row] [self*=left] {
    margin-right: auto
}

[layout*=row] [self*=right] {
    margin-left: auto
}

[self~=size-1of5] {
    width: 20%
}

[self~=size-1of4] {
    width: 25%
}

[self~=size-1of3] {
    width: 33.33333%
}

[self~=size-2of5] {
    width: 40%
}

[self~=size-1of2] {
    width: 50%
}

[self~=size-3of5] {
    width: 60%
}

[self~=size-2of3] {
    width: 66.6666%
}

[self~=size-3of4] {
    width: 75%
}

[self~=size-4of5] {
    width: 80%
}

[self~=size-1of1] {
    width: 100%
}

[layout*=column][layout*=stretch-] > :not([self*=size-]), [layout*=row][layout*=-stretch] > :not([self*=size-]), [self~=size-x1] {
    -ms-flex: 1 0 0% !important;
    -webkit-box-flex: 1 !important;
    flex: 1 0 0% !important
}

[self~=size-x2] {
    -ms-flex: 2 0 0% !important;
    -webkit-box-flex: 2 !important;
    flex: 2 0 0% !important
}

[self~=size-x3] {
    -ms-flex: 3 0 0% !important;
    -webkit-box-flex: 3 !important;
    flex: 3 0 0% !important
}

[self~=size-x4] {
    -ms-flex: 4 0 0% !important;
    -webkit-box-flex: 4 !important;
    flex: 4 0 0% !important
}

[self~=size-x5] {
    -ms-flex: 5 0 0% !important;
    -webkit-box-flex: 5 !important;
    flex: 5 0 0% !important
}

[self~=size-x6] {
    -ms-flex: 6 0 0% !important;
    -webkit-box-flex: 6 !important;
    flex: 6 0 0% !important
}

[self~=size-x7] {
    -ms-flex: 7 0 0% !important;
    -webkit-box-flex: 7 !important;
    flex: 7 0 0% !important
}

[self~=size-x8] {
    -ms-flex: 8 0 0% !important;
    -webkit-box-flex: 8 !important;
    flex: 8 0 0% !important
}

[self~=size-x9] {
    -ms-flex: 9 0 0% !important;
    -webkit-box-flex: 9 !important;
    flex: 9 0 0% !important
}

[self*=size-auto] {
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto
}

[self*=size-x0] {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto
}

[self~=size-xxlarge] {
    max-width: 1440px;
    width: 100%
}

[self~=size-xlarge] {
    max-width: 1200px;
    width: 100%
}

[self~=size-large] {
    max-width: 960px;
    width: 100%
}

[self~=size-larger] {
    max-width: 840px;
    width: 100%
}

[self~=size-medium] {
    max-width: 720px;
    width: 100%
}

[self~=size-smaller] {
    max-width: 600px;
    width: 100%
}

[self~=size-small] {
    max-width: 480px;
    width: 100%
}

[self~=size-xsmall] {
    max-width: 360px;
    width: 100%
}

[self~=size-xxsmall] {
    max-width: 240px;
    width: 100%
}

[self*=size-x]:not([self*=small]):not([self*=large]) {
    -ms-flex-negative: 1;
    flex-shrink: 1
}

[self~=first] {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1
}

[self~=order-1] {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1
}

[self~=order-2] {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
    order: 2
}

[self~=order-3] {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
    order: 3
}

[self~=last] {
    -ms-flex-order: 999;
    -webkit-box-ordinal-group: 1000;
    order: 999
}

[layout*=column]:not([layout*=row]) > * {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto
}

@media screen and (max-width:64em) {
    [layout*=lg-row] {
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row
    }

    [layout*=lg-column] {
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column
    }

    [layout*=lg-columns], [layout*=lg-rows] {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media screen and (max-width:52em) {
    [layout*=md-row] {
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row
    }

    [layout*=md-column] {
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column
    }

    [layout*=md-columns], [layout*=md-rows] {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media screen and (max-width:40em) {
    [layout*=sm-row] {
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row
    }

    [layout*=sm-column] {
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column
    }

    [layout*=sm-columns], [layout*=sm-rows] {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media screen and (max-width:64em) {
    [self*=lg-full] {
        -ms-flex: 1 1 100% !important;
        -webkit-box-flex: 1 !important;
        flex: 1 1 100% !important;
        width: 100%;
        max-width: 100%
    }

    [self*=lg-half] {
        -ms-flex: 1 1 50% !important;
        -webkit-box-flex: 1 !important;
        flex: 1 1 50% !important;
        width: 50%;
        max-width: 50%
    }

    [self~=lg-first] {
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
        order: -1
    }

    [self~=lg-last] {
        -ms-flex-order: 999;
        -webkit-box-ordinal-group: 1000;
        order: 999
    }

    [self~=lg-hide] {
        display: none
    }

    [self~=lg-show] {
        display: inherit
    }
}

@media screen and (max-width:52em) {
    [self*=md-full] {
        -ms-flex: 1 1 100% !important;
        -webkit-box-flex: 1 !important;
        flex: 1 1 100% !important;
        width: 100%;
        max-width: 100%
    }

    [self*=md-half] {
        -ms-flex: 1 1 50% !important;
        -webkit-box-flex: 1 !important;
        flex: 1 1 50% !important;
        width: 50%;
        max-width: 50%
    }

    [self~=md-first] {
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
        order: -1
    }

    [self~=md-last] {
        -ms-flex-order: 999;
        -webkit-box-ordinal-group: 1000;
        order: 999
    }

    [self~=md-hide] {
        display: none
    }

    [self~=md-show] {
        display: inherit
    }
}

@media screen and (max-width:40em) {
    [self*=sm-full] {
        -ms-flex: 1 1 100% !important;
        -webkit-box-flex: 1 !important;
        flex: 1 1 100% !important;
        width: 100%;
        max-width: 100%
    }

    [self*=sm-half] {
        -ms-flex: 1 1 50% !important;
        -webkit-box-flex: 1 !important;
        flex: 1 1 50% !important;
        width: 50%;
        max-width: 50%
    }

    [self~=sm-first] {
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
        order: -1
    }

    [self~=sm-last] {
        -ms-flex-order: 999;
        -webkit-box-ordinal-group: 1000;
        order: 999
    }

    [self~=sm-hide] {
        display: none
    }

    [self~=sm-show] {
        display: inherit
    }
}

.vuetiful body, .vuetiful html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

.vuetiful html {
    font-size: 16px;
    box-sizing: border-box
}

.vuetiful *, .vuetiful :after, .vuetiful :before {
    box-sizing: inherit
}

.vuetiful body {
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    color: #32394f;
    background-color: #fff
}

.vuetiful button, .vuetiful input, .vuetiful optgroup, .vuetiful select, .vuetiful textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

.vuetiful h1, .vuetiful h2, .vuetiful h3, .vuetiful h4, .vuetiful h5, .vuetiful h6 {
    margin-top: 1em;
    margin-bottom: .25em;
    font-weight: 600;
    line-height: 1.5em;
    color: #32394f
}

.vuetiful h1 {
    font-size: 3.15733em
}

.vuetiful h2 {
    font-size: 2.36859em
}

.vuetiful h3 {
    font-size: 1.77689em
}

.vuetiful h4 {
    font-size: 1.333em
}

.vuetiful h5 {
    font-size: 1em
}

.vuetiful h6 {
    font-size: .75019em
}

.vuetiful p {
    margin: .75em 0
}

.vuetiful small {
    font-size: .75019em
}

.vuetiful strong {
    font-weight: 600
}

.vuetiful em {
    font-style: italic
}

.vuetiful a {
    color: #2196f3;
    text-decoration: none
}

    .vuetiful a:hover {
        color: #0c7cd5
    }

    .vuetiful a.escape-link, .vuetiful a.escape-link:hover {
        color: inherit
    }

.vuetiful label {
    display: block;
    font-weight: 600;
    font-size: .75019em
}

.vuetiful blockquote {
    display: block;
    margin: 1em 0;
    padding: 0 1em;
    color: #888;
    font-weight: 600;
    border-left: 4px solid #2196f3
}

.vuetiful code {
    display: block;
    margin: 1em 0;
    padding: 1em;
    font-family: monospace;
    white-space: pre;
    background-color: #fafafa;
    border: 1px solid #999;
    border-radius: 2px
}

.vuetiful .container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto
}

.vuetiful .grid-row {
    margin-left: -.5rem;
    margin-right: -.5rem
}

    .vuetiful .grid-row + .grid-row {
        margin-top: 1rem
    }

.vuetiful .grid-cell {
    padding-left: .5rem;
    padding-right: .5rem
}

.vuetiful .button {
    display: inline-block;
    margin: 0;
    padding: .75rem 1.5rem;
    font-weight: 600;
    line-height: inherit;
    text-align: center;
    color: #fff;
    background-color: #2196f3;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer
}

    .vuetiful .button:active, .vuetiful .button:hover {
        color: #fff;
        background-color: #0c7cd5
    }

.vuetiful .button-blue {
    background-color: #2196f3
}

    .vuetiful .button-blue:active, .vuetiful .button-blue:hover {
        color: #fff;
        background-color: #0c7cd5
    }

.vuetiful .button-green {
    background-color: #00b378
}

    .vuetiful .button-green:active, .vuetiful .button-green:hover {
        color: #fff;
        background-color: #008056
    }

.vuetiful .button-red {
    background-color: #f44336
}

    .vuetiful .button-red:active, .vuetiful .button-red:hover {
        color: #fff;
        background-color: #ea1c0d
    }

.vuetiful .button-#ff0 {
    background-color: #ffc107
}

    .vuetiful .button-#ff0:active, .vuetiful .button-#ff0:hover {
        color: #fff;
        background-color: #d39e00
    }

.vuetiful .button-orange {
    background-color: #ff9800
}

    .vuetiful .button-orange:active, .vuetiful .button-orange:hover {
        color: #fff;
        background-color: #cc7a00
    }

.vuetiful .button-purple {
    background-color: #673ab7
}

    .vuetiful .button-purple:active, .vuetiful .button-purple:hover {
        color: #fff;
        background-color: #512e90
    }

.vuetiful input[type=date], .vuetiful input[type=datetime], .vuetiful input[type=password], .vuetiful input[type=search], .vuetiful input[type=text], .vuetiful input[type=time], .vuetiful select {
    display: inline-block;
    width: 250px;
    height: 3rem;
    padding: 0 .75rem;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 2px;
    outline: none
}

    .vuetiful input[type=date]:active, .vuetiful input[type=date]:focus, .vuetiful input[type=datetime]:active, .vuetiful input[type=datetime]:focus, .vuetiful input[type=password]:active, .vuetiful input[type=password]:focus, .vuetiful input[type=search]:active, .vuetiful input[type=search]:focus, .vuetiful input[type=text]:active, .vuetiful input[type=text]:focus, .vuetiful input[type=time]:active, .vuetiful input[type=time]:focus, .vuetiful select:active, .vuetiful select:focus {
        border-color: #2196f3
    }

.vuetiful .label {
    display: inline-block;
    min-width: 1.9995em;
    padding: 0 .5em;
    font-size: .75019em;
    font-weight: 600;
    line-height: inherit;
    text-align: center;
    color: #32394f;
    background-color: #fafafc;
    border-radius: 2px
}

.vuetiful .label-blue, .vuetiful .label-primary {
    color: #fff;
    background-color: #2196f3
}

.vuetiful .label-green {
    color: #fff;
    background-color: #00b378
}

.vuetiful .label-red {
    color: #fff;
    background-color: #f44336
}

.vuetiful .label-#ff0 {
    color: #fff;
    background-color: #ffc107
}

.vuetiful .label-orange {
    color: #fff;
    background-color: #ff9800
}

.vuetiful .label-purple {
    color: #fff;
    background-color: #673ab7
}

.vuetiful .menu-group:not(:last-child) {
    margin-bottom: 1.5rem
}

.vuetiful .menu-group-title, .vuetiful .menu-item {
    padding-left: 1rem;
    padding-right: 1rem
}

.vuetiful .menu-group-title {
    display: block;
    font-weight: 600;
    margin-bottom: .5rem
}

.vuetiful .menu-item {
    padding-top: .25rem;
    padding-bottom: .25rem
}

    .vuetiful .menu-item:hover {
        background-color: #fafafc
    }

.vuetiful .table-wrapper {
    display: block;
    width: 100%;
    border: 1px solid #999;
    border-radius: 2px
}

    .vuetiful .table-wrapper table {
        border: none
    }

.vuetiful table {
    table-layout: fixed;
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    border: 1px solid #999
}

.vuetiful .table-striped tr:nth-child(2n) > td {
    background-color: #fafafa
}

.vuetiful td, .vuetiful th {
    text-align: left
}

    .vuetiful td:last-of-type, .vuetiful th:last-of-type {
        border-right: none
    }

.vuetiful th {
    padding: .75rem 1rem;
    font-weight: 600;
    background-color: #fafafc;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999
}

.vuetiful td {
    padding: .5rem 1rem;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.vuetiful tbody:last-of-type tr:last-of-type > td, .vuetiful tfoot:last-of-type tr:last-of-type > td {
    border-bottom: none
}

.vuetiful tfoot td {
    font-weight: 600
}

.vuetiful tfoot tr:first-of-type td {
    border-top: 1px solid #999
}

.vuetiful .fade-enter-active, .vuetiful .fade-leave-active {
    transition: opacity .25s ease-out
}

.vuetiful .fade-enter, .vuetiful .fade-leave {
    opacity: 0
}

.checkbox[data-v-7170bf02] {
    display: inline-block;
    margin-right: 1rem;
    vertical-align: baseline
}

.checkbox label[data-v-7170bf02] {
    position: relative;
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .25rem;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 2px;
    vertical-align: text-bottom;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

    .checkbox label[data-v-7170bf02]:after {
        position: absolute;
        display: block;
        content: " ";
        width: .375rem;
        height: .75rem;
        top: .125rem;
        left: .4rem;
        border-right: .2rem solid #fff;
        border-bottom: .2rem solid #fff;
        opacity: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        transition: opacity .15s ease-out
    }

.checkbox input[type=checkbox][data-v-7170bf02] {
    display: none !important
}

.checkbox input[type=checkbox]:checked + label[data-v-7170bf02] {
    background-color: #2196f3;
    border-color: #2196f3
}

    .checkbox input[type=checkbox]:checked + label[data-v-7170bf02]:after {
        opacity: 1
    }

.checkbox input[type=checkbox]:disabled + label[data-v-7170bf02] {
    background-color: #fafafa;
    cursor: not-allowed
}

.chip[data-v-2648b520] {
    display: inline-block;
    min-width: 1.9995em;
    text-align: left;
    color: #32394f;
    background-color: #fafafc;
    border-radius: 2px
}

.chip-body[data-v-2648b520], .chip-footer[data-v-2648b520] {
    padding: .25rem .5rem
}

.chip-footer[data-v-2648b520] {
    background-color: #f2f2f7
}

.chip-close-button[data-v-2648b520] {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 2px;
    cursor: pointer
}

    .chip-close-button[data-v-2648b520]:hover {
        background-color: #dadae9
    }

    .chip-close-button[data-v-2648b520]:after, .chip-close-button[data-v-2648b520]:before {
        display: block;
        position: absolute;
        content: " ";
        top: 50%;
        left: 10%;
        width: 80%;
        height: 2px;
        margin-top: -1px;
        background-color: currentColor;
        -webkit-transform-origin: center center;
        transform-origin: center center
    }

    .chip-close-button[data-v-2648b520]:before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

    .chip-close-button[data-v-2648b520]:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }

.datatable th[data-v-167e957a] {
    padding: 0
}

.datatable-linenumber-cell[data-v-167e957a], .datatable-linenumber-column[data-v-167e957a] {
    text-align: center
}

.datatable-aggregate-cell[data-v-167e957a], .datatable-linenumber-cell[data-v-167e957a] {
    font-weight: 600;
    background-color: #fafafc !important;
    border-right-color: #999
}

.datatable-group-chip[data-v-167e957a] {
    margin-right: .5rem
}

.datatable-collection .datatable-collection .datatable-resultset[data-v-167e957a] {
    border-top: 1px solid #999
}

.datatable-group[data-v-167e957a] {
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid #999
}

.datatable-groups-header[data-v-167e957a] {
    border-bottom: 1px solid #999
}

.datatable-group-header[data-v-167e957a] {
    padding: .5rem 1rem;
    background-color: #fafafc
}

.datatable-grouping-over[data-v-167e957a] {
    box-shadow: 0 0 0 2px #2196f3
}

.datatable-row-indent[data-v-167e957a] {
    display: inline-block;
    width: 1.5rem;
    height: 1em
}

.datatable-group-label[data-v-167e957a] {
    font-weight: 600
}

.datatable-info-cell[data-v-167e957a] {
    text-align: center;
    font-weight: 600
}

.datatable-aggregators .datatable-info-cell[data-v-167e957a] {
    border-bottom: 1px solid #999
}

.datatable-options[data-v-167e957a] {
    padding: .75rem 1rem;
    background-color: #fafafc;
    border-top: 1px solid #999
}

.datatable-editable .datatable-cell[data-v-167e957a] {
    position: relative;
    padding: 0 !important;
    overflow: visible
}

.datatable-editable .datatable-cell input[data-v-167e957a], .datatable-editable .datatable-cell select[data-v-167e957a] {
    display: block;
    width: 100%;
    height: auto;
    padding: .5rem 1rem;
    background-color: transparent;
    border: none;
    border-radius: 0
}

    .datatable-editable .datatable-cell input[data-v-167e957a]:active, .datatable-editable .datatable-cell input[data-v-167e957a]:focus, .datatable-editable .datatable-cell select[data-v-167e957a]:active, .datatable-editable .datatable-cell select[data-v-167e957a]:focus {
        box-shadow: 0 0 0 2px #2196f3
    }

.datatable-column[data-v-64c2d1b9] {
    padding: .75rem 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.datatable-sort-arrow[data-v-64c2d1b9] {
    width: 0;
    height: 0;
    border: .375rem solid transparent
}

.datatable-sort-arrow-asc[data-v-64c2d1b9] {
    border-bottom-color: currentColor;
    -webkit-transform: translateY(-.1875rem);
    transform: translateY(-.1875rem)
}

.datatable-sort-arrow-desc[data-v-64c2d1b9] {
    border-top-color: currentColor;
    -webkit-transform: translateY(.1875rem);
    transform: translateY(.1875rem)
}

.float[data-v-79987f10] {
    display: inline-block;
    position: relative
}

.float-panel[data-v-79987f10] {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 250px;
    min-height: 50px;
    margin-top: 5px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
    z-index: 10;
    -webkit-transform-origin: top left;
    transform-origin: top left
}

.float-enter[data-v-79987f10], .float-leave-active[data-v-79987f10] {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
}

.float-enter-active[data-v-79987f10], .float-leave-active[data-v-79987f10] {
    transition: opacity .2s cubic-bezier(.4,0,.2,1),-webkit-transform .3s cubic-bezier(.4,0,.2,1);
    transition: opacity .2s cubic-bezier(.4,0,.2,1),transform .3s cubic-bezier(.4,0,.2,1);
    transition: opacity .2s cubic-bezier(.4,0,.2,1),transform .3s cubic-bezier(.4,0,.2,1),-webkit-transform .3s cubic-bezier(.4,0,.2,1)
}

.vmodal-transition-enter-active[data-v-78199468], .vmodal-transition-leave-active[data-v-78199468] {
    transition: opacity .2s ease-out
}

.vmodal-transition-enter-active .vmodal[data-v-78199468], .vmodal-transition-leave-active .vmodal[data-v-78199468] {
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out,-webkit-transform .2s ease-out
}

.vmodal-transition-enter[data-v-78199468], .vmodal-transition-leave[data-v-78199468] {
    opacity: 0
}

.vmodal-transition-enter .vmodal[data-v-78199468], .vmodal-transition-leave .vmodal[data-v-78199468] {
    -webkit-transform: scale(.8);
    transform: scale(.8)
}

.vmodal-shade[data-v-78199468] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    z-index: 1000
}

.vmodal[data-v-78199468] {
    width: 640px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 1px 2px rgba(0,0,0,.1);
    overflow: hidden
}

.vmodal-body[data-v-78199468], .vmodal-footer[data-v-78199468], .vmodal-header[data-v-78199468] {
    padding: 1rem
}

.vmodal-footer[data-v-78199468] {
    background-color: #fafafc;
    border-top: 1px solid #bbb
}

.vmodal-title[data-v-78199468] {
    font-weight: 600
}

.paginator[data-v-83b140d8] {
    border: 1px solid #999;
    border-radius: 2px
}

.paginator-footer[data-v-83b140d8] {
    padding: 1rem;
    background-color: #fafafc;
    border-top: 1px solid #999
}

.paginator-button[data-v-83b140d8] {
    display: inline-block;
    min-width: 1.5em;
    padding: 0 .5rem;
    font-weight: 600;
    background-color: #999;
    border-radius: 2px;
    cursor: pointer
}

.paginator-button.active[data-v-83b140d8] {
    color: #fff;
    background-color: #2196f3
}

.paginator-page-number[data-v-83b140d8] {
    margin: 0 .25rem
}

.panel[data-v-0d97d03a] {
    width: 100%;
    min-height: 150px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 2px
}

.panel-body[data-v-0d97d03a], .panel-footer[data-v-0d97d03a], .panel-header[data-v-0d97d03a] {
    padding: .75rem 1rem
}

.panel-footer[data-v-0d97d03a], .panel-header[data-v-0d97d03a] {
    background-color: #fafafc
}

.panel-header[data-v-0d97d03a] {
    border-bottom: 1px solid #999
}

.panel-footer[data-v-0d97d03a] {
    border-top: 1px solid #999
}

.panel-title[data-v-0d97d03a] {
    font-weight: 600
}

.radio[data-v-0497504c] {
    display: inline-block;
    margin-right: 1rem;
    vertical-align: baseline
}

.radio label[data-v-0497504c] {
    position: relative;
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 50%;
    vertical-align: text-bottom;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

    .radio label[data-v-0497504c]:after {
        position: absolute;
        display: block;
        content: " ";
        width: .5rem;
        height: .5rem;
        top: 50%;
        left: 50%;
        margin-top: -.25rem;
        margin-left: -.25rem;
        background-color: #fff;
        border-radius: 50%
    }

.radio input[type=radio][data-v-0497504c] {
    display: none !important
}

.radio input[type=radio]:checked + label[data-v-0497504c] {
    background-color: #2196f3;
    border-color: #2196f3
}

.radio input[type=radio]:disabled + label[data-v-0497504c] {
    background-color: #fafafa;
    cursor: not-allowed
}

.tab-control[data-v-2780b6bc] {
    display: block;
    border: 1px solid #999;
    border-radius: 2px
}

.tabs-list[data-v-2780b6bc] {
    background-color: #fafafa;
    border-bottom: 1px solid #999
}

.tab-item[data-v-2780b6bc] {
    position: relative;
    padding: .75rem 1rem;
    font-weight: 600;
    border-right: 1px solid #999;
    cursor: pointer
}

    .tab-item[data-v-2780b6bc]:after {
        position: absolute;
        display: none;
        content: " ";
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #fff
    }

.tab-item.active[data-v-2780b6bc] {
    background-color: #fff
}

    .tab-item.active[data-v-2780b6bc]:after {
        display: block
    }

.tab-pane[data-v-ba3a2bce] {
    min-height: 2rem;
    padding: 1rem
}

.toggle[data-v-5e428bd3] {
    display: inline-block;
    margin-right: 1rem;
    vertical-align: baseline
}

.toggle label[data-v-5e428bd3] {
    position: relative;
    display: inline-block;
    width: 2.15rem;
    height: 1.25rem;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: .625rem;
    vertical-align: text-bottom;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

    .toggle label[data-v-5e428bd3]:after {
        position: absolute;
        display: block;
        content: " ";
        width: .8rem;
        height: .8rem;
        top: 50%;
        left: .25rem;
        background-color: #999;
        border-radius: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        transition: -webkit-transform .15s ease-out;
        transition: transform .15s ease-out;
        transition: transform .15s ease-out,-webkit-transform .15s ease-out
    }

.toggle input[type=checkbox][data-v-5e428bd3] {
    display: none !important
}

.toggle input[type=checkbox]:checked + label[data-v-5e428bd3] {
    background-color: #2196f3;
    border-color: #2196f3
}

    .toggle input[type=checkbox]:checked + label[data-v-5e428bd3]:after {
        background-color: #fff;
        -webkit-transform: translate(.75rem,-50%);
        transform: translate(.75rem,-50%)
    }

.toggle input[type=checkbox]:disabled + label[data-v-5e428bd3] {
    background-color: #fafafa;
    cursor: not-allowed
}
/*# sourceMappingURL=app.style.css.map*/
